<template>
    <FormValidation  :submit-button-name=buttonName :header-name=headerName :event-data=event @isFormValid="create"></FormValidation>
</template>

<script>
    // import { required } from 'vuelidate/lib/validators';
    // import DatePicker from 'vue2-datepicker';
    // import 'vue2-datepicker/index.css';
    import FormValidation from "./FormValidation";

    export default {
        components: {FormValidation },
        name:"add-event",
        data(){
            return {
                buttonName: 'Save',
                headerName: 'Add Event',
                event:{
                    title:"",
                    start_date:"",
                    end_date:"",
                    description:"",
                }
            }
        },
        methods:{
            async create(isFormValid, event){
                console.log(isFormValid);
                if(isFormValid){
                    await this.axios.post('/api/event', event).then(response=>{
                        if(response.data.success){
                            this.$router.push({name:"eventList"});
                        }


                    }).catch((error)=>{
                        let errors = error.response.data.errors;
                        let content = '';
                        if(errors){
                            console.log(errors);
                            for (let item in errors) {
                                 content += errors[item];
                            }
                            this.$swal({
                                icon: 'error',
                                title: 'Validation Error!!',
                                html: content,
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }else{
                            this.$swal({
                                icon: 'error',
                                title: 'Error occurred!!',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }

                    })
                }

            },

            onCancel(){
                this.$router.push({ name: 'eventList' });
            }
        }
    }
</script>
