<template>
    <FormValidation  :submit-button-name=buttonName :header-name=headerName @isFormValid="update"  @form-data="showEvent"></FormValidation>
</template>

<script>
    import FormValidation from "./FormValidation";

export default {
    components: { FormValidation },
    name:"update-event",
    data(){
        return {
            buttonName: 'Update',
            headerName: 'Edit Event',
            event:{
                title:"",
                start_date:"",
                end_date:"",
                description:"",
                _method:"patch"
            }
        }
    },
    mounted(){
        //this.showEvent()
    },
    methods:{
        async showEvent(){
            await this.axios.get(`/api/event/${this.$route.params.id}`).then(response=>{
                const { title, start_date, end_date, description } = response.data;
                this.event.title = title;
                this.event.start_date = start_date;
                this.event.end_date = end_date;
                this.event.description = description;
            }).catch(error=>{
                console.log(error)
            })
        },
        async update(isFormValid, event){
            this.event.title = event.title;
            this.event.start_date = event.start_date;
            this.event.end_date = event.end_date;
            this.event.description = event.description;
            await this.axios.post(`/api/event/${this.$route.params.id}`,this.event).then(response=>{
                if(response.data.success){
                    this.$router.push({name:"eventList"});
                }
            }).catch(error=>{
                let errors = error.response.data.errors;
                let content = '';
                if(errors){
                    console.log(errors);
                    for (let item in errors) {
                        content += errors[item];
                    }
                    this.$swal({
                        icon: 'error',
                        title: 'Validation Error!!',
                        html: content,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }else{
                    this.$swal({
                        icon: 'error',
                        title: 'Error occurred!!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
        },
        onCancel(){
            this.$router.push({ name: 'eventList' });
        }
    }
}
</script>
