<template>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>{{ headerName }}</h4>
                </div>
                <div class="card-body">
                    <form @submit.prevent="formValidation">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12 mb-2">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" :class="{'is-invalid': $v.event.title.$error}" v-model.trim="$v.event.title.$model" >
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.event.title.required">Title is required.</span>
                                    </div>
                                </div>


                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12 mb-2">
                                <div class="form-group">
                                    <label>Start Date</label><br>
                                    <date-picker style="width:100%" input-class="form-control" :class="{'is-invalid': $v.event.start_date.$error}" v-model.trim="$v.event.start_date.$model" valueType="format"  :disabled-date="disabledStartDate"></date-picker>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.event.start_date.required">Start Date is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-xs-12 mb-2">
                                <div class="form-group">
                                    <label>End Date</label><br>
                                    <date-picker style="width:100%" input-class="form-control" :class="{'is-invalid': $v.event.end_date.$error}" v-model.trim="$v.event.end_date.$model"  valueType="format"   :disabled-date="disabledEndDate"></date-picker>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.event.end_date.required">End Date is required.</span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 mb-2">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" :class="{'is-invalid': $v.event.description.$error}" v-model.trim="$v.event.description.$model"></textarea>
                                    <div class="invalid-feedback">
                                        <span v-if="!$v.event.description.required">Description is required.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" >{{ submitButtonName }}</button>
                                <button type="button" class="btn btn-secondary" @click="onCancel">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import { required } from 'vuelidate/lib/validators';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    export default {
        name: 'FormValidation',
        components: {DatePicker},
        props: {
            submitButtonName: String,
            headerName: String,
        },
        data(){
            return {
                event:{
                    title:"",
                    start_date:"",
                    end_date:"",
                    description:"",
                },
            }
        },
        validations:{
            event:{
                title:{
                    required
                },
                start_date:{
                    required
                },
                end_date:{
                    required
                },
                description:{
                    required
                },
            }
        },
        mounted() {
            if(this.$props.submitButtonName == 'Update'){
                this.showEvent();
            }
        },
        methods:{
            disabledStartDate(date) {
                if(this.event.end_date){
                    return date > new Date(new Date(this.event.end_date).setHours(0, 0, 0, 0));
                }else{
                    return date > new Date(new Date().setHours(0, 0, 0, 0));
                }

            },
            disabledEndDate(date) {
                if(this.event.start_date){
                    return date < new Date(new Date(this.event.start_date).setHours(0, 0, 0, 0));
                }else{
                    return date < new Date(new Date().setHours(0, 0, 0, 0));
                }

            },
            async showEvent(){
                await this.axios.get(`/api/event/${this.$route.params.id}`).then(response=>{
                    if(response.data.success){
                        const { title, start_date, end_date, description } = response.data.event;
                        this.event.title = title;
                        this.event.start_date = start_date;
                        this.event.end_date = end_date;
                        this.event.description = description;
                    }

                }).catch(error=>{
                    console.log(error)
                })
            },

            formValidation(){
                this.$v.event.$touch();
                this.$emit('isFormValid', !this.$v.event.$invalid, this.event, this.$v);
            },
            onCancel(){
                this.$router.push({ name: 'eventList' });
            }
        }

    }
</script>
