<template>
    <div class="row">
        <form  @submit.prevent="filterEvents">
            <div class="row">
                <div class="col-4 mb-2">
                    <div class="form-group">
                        <label>Filter</label>
                        <select class="form-control" v-model="filter">
                            <option value="">Select any one</option>
                            <option value="finished_event">Finished Events</option>
                            <option value="upcoming_event">Upcoming Events</option>
                            <option value="upcoming_event_7days">Upcoming Events within 7 days</option>
                            <option value="finished_event_7days">Finished Events within 7 days</option>
                        </select>
                    </div>

                </div>
                <div class="col-md-4 mb-2 mt-4">
                    <button type="submit" class="btn btn-primary" >Search</button>
                </div>
            </div>

        </form>

        <div class="col-12 mb-2 text-end">
            <router-link :to='{name:"eventAdd"}' class="btn btn-primary">Create</router-link>
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4>Events</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Title</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody v-if="events.length > 0">
                                <tr v-for="(event,key) in events" :key="key">
                                    <td>{{ key + 1 }}</td>
                                    <td>{{ event.title }}</td>
                                    <td>{{ event.start_date }}</td>
                                    <td>{{ event.end_date }}</td>
                                    <td>
                                        <router-link :to='{name:"eventEdit",params:{id:event.id}}' class="btn btn-success">Edit</router-link>
                                        <button type="button" @click="deleteEvent(event.id)" class="btn btn-danger">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody v-else>
                                <tr>
                                    <td colspan="4" align="center">No Events Found.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name:"events",
    data(){
        return {
            events:[],
            filter: ''
        }
    },
    mounted(){
        this.getEvents()
    },
    methods:{
        async getEvents(){
            await this.axios.get('/api/event', { params: { filter: this.filter } }).then(response=>{
                this.events = response.data.events;
            }).catch(error=>{
                console.log(error);
                this.events = [];
            })
        },
        async filterEvents(){
            this.getEvents();
        },
        deleteEvent(id){
            this.$swal({
                title: "Delete this event ?",
                text: "Are you sure? You won't be able to revert this!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dc3545",
                confirmButtonText: "Yes, Delete it!"
            }).then((result) => {
                if (result.value) {
                    this.axios.delete(`/api/event/${id}`).then(response=>{
                        this.getEvents();
                    }).catch(error=>{
                        console.log(error);
                    })
                }
            });

        }
    }
}
</script>
